body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.past textarea:hover{
  cursor: default;
}

.past textarea:focus{
  outline: none;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.writable {
  background-color: white;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #C3B1E1;
  color: white;
}

/* .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */

.areaEl:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


.addBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.noBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ff6961;
  color: white;
}

.noBtn:hover {
  cursor: inherit;
}

.noBtn:focus {
  box-shadow: inherit;
}

.fail{
  color: #ff6961;
}

.success{
  color: #77dd77;
}

.active:hover{
  cursor: pointer;
  color: yellow;
}


/* Todo List */
.todoLi{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: start;
}

.changeBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*  */

.areaDiv{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: start;

}